{
  "check-coverage": false,
  "report-dir": "./coverage",
  "reporter": ["cobertura", "lcov", "text"],
  "branches": 60,
  "lines": 60,
  "functions": 60,
  "statements": 60,
  "watermarks": {
    "lines": [60, 80],
    "functions": [60, 80],
    "branches": [60, 80],
    "statements": [60, 80]
  }
}
